footer {
  width: "100vw";
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-signature-space-around {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wl-footer-centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-signature-space-around a {
  color: var(--wl-text-secondary);
}

.wl-footer-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.wl-footer-centered h1 {
  font-size: 2rem;
}

.wl-footer-centered p {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}

.wl-footer-centered a {
  font-weight: 600;
  font-size: 1.125rem;
}