.wl-glyph-section-two-items-no-actions { 
  width: 100%;
  gap: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wl-glyph-section-two-items-no-actions-item { max-width: 650px; }
.wl-glyph-section-two-items-no-actions-glyph-container { height: 200px; aspect-ratio: 1/1;  }
.wl-glyph-section-two-items-no-actions h1 { font-size: 1.5rem; font-weight: 600; }
.wl-glyph-section-two-items-no-actions p { font-size: 0.75rem; }