.alice-carousel__prev-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alice-carousel__next-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alice-carousel__stage-item {
  height: 100%;
}

.__target .item {
  border-width: 0px;
  border-bottom-width: .2rem;
  border-style: solid;
}

.item-inner.underline-color {
  padding-bottom: 20px;
}

.carousel-button {
  padding: 1rem;
  border-radius: 50%;
  background-color: #494949;
}

.carousel-button:hover {
  background-color: #737373;
}

.item .item-inner.scale-active {
  transition: all 0.5s ease;
  transform: scale(0.9);
}

.__target .item .item-inner.scale-active {
  transition: all 0.5s ease;
  transform: scale(1);
}

.hover-action-box {
  background-color: transparent;
  transition: all 1s ease;
}

.hover-action-box-icon-container {
  transition: border-color 1s ease;
}