.alice-carousel__prev-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alice-carousel__next-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alice-carousel__stage-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}

.__target .item {
  border-width: 0px;
  border-bottom-width: .2rem;
  border-style: solid;
}

.item-inner.underline-color {
  padding-bottom: 20px;
}

.carousel-button {
  padding: 1rem;
  border-radius: 50%;
  background-color: #494949;
}

.carousel-button:hover {
  background-color: #737373;
}