.wl-header-three-levels-title {width: 100% !important; font-weight: 600; }
.wl-header-three-levels-title h1 { font-size: 2.75rem; }
.wl-header-three-levels-subtitle {width: 100% !important; font-weight: bold; font-size: 1.125rem; }
.wl-header-three-levels-body {width: 100% !important; font-weight: bold;}